/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

text: dark gray (#2b2b2b)
background/primary: light gray (#E6E6E6)
header: light green (#b7ddac)
links: green (#2c7700)
active links: light green (#81c46e)
visted links: dark green (#315b25)
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
    color: #2b2b2b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    margin: 0px auto;
}

h1 {
    font-family: 'Agbalumo', sans-serif;
    font-size: 40px;
    display: block;
    margin: 0px auto;
}

.h1_secondary-page {
    display: block;
    font-style: italic;
    margin: 15px auto;
}

a {
    color: #2c7700;
    text-decoration: none;
    font-style: italic;
    border-bottom: 2px dotted #2c7700;
}

a:visited {
    color: #315b25;
    border-bottom: 2px dotted #2c7700;
}

a:hover {
    color: #2b2b2b;
    text-decoration: none;
    border: none;
    font-weight: 700;
}

a:focus {
    color: #2b2b2b;
    text-decoration: none;
    border: none;
    font-weight: 700;
}

a:active {
    color: #81c46e;
    font-weight: 700;
}

button  {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    border: none;
    background-color: #b7ddac;
    color: #2b2b2b;
    cursor: pointer;
    padding: 8px 6px 6px 8px; /* top right bottom left */
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.button  {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    border: none;
    background-color: #b7ddac;
    color: #2b2b2b;
    cursor: pointer;
    padding: 8px 6px 6px 8px; /* top right bottom left */
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

a.button  {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    border: none;
    background-color: #b7ddac;
    color: #2b2b2b;
    cursor: pointer;
    padding: 8px 6px 6px 8px; /* top right bottom left */
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

a.button_secondary  {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    border: none;
    background-color: #b7ddac;
    color: #2b2b2b;
    cursor: pointer;
    padding: 8px 6px 6px 8px; /* top right bottom left */
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

button:hover {
    background-color: rgba(49, 91, 37, 0.5);
    color: #E6E6E6;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
}

button:focus {
    background-color: rgba(49, 91, 37, 0.5);
    color: #E6E6E6;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
}

.button:hover {
    background-color: rgba(49, 91, 37, 0.5);
    color: #E6E6E6;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
}

.button:focus {
    background-color: rgba(49, 91, 37, 0.5);
    color: #E6E6E6;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
}

button:active {
    border: 2px solid #2b2b2b;
    background-color: rgba(230, 230, 230, 0.5);
    color: #2b2b2b;
    cursor: pointer;
    padding: 6px;
}

.button:active {
    border: 2px solid #2b2b2b;
    background-color: rgba(230, 230, 230, 0.5);
    color: #2b2b2b;
    cursor: pointer;
    padding: 6px;
}

.button_secondary {
    background-color: #E6E6E6;
    color: #2b2b2b;
    font-weight: 400;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

a.button_secondary {
    background-color: #E6E6E6;
    color: #2b2b2b;
    font-weight: 400;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.button_secondary:hover {
    background-color: rgba(49, 91, 37, 0.5);
    font-weight: 700;
    color: #E6E6E6;
    opacity: 0.7;
    
}

.button_secondary:focus {
    background-color: rgba(49, 91, 37, 0.5);
    font-weight: 700;
    color: #E6E6E6;
    opacity: 0.7;
    
}

.image-labels {
    margin-top: -17%;
    font-style: italic;
    color: #cccccc;
}

a.image-labels {
    font-style: italic;
    color: #cccccc;
    border-bottom: 2px dotted #cccccc;
}

/*
//////////////
HEADER
//////////////
*/

.page-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(183, 221, 172, 0.8);
    border-bottom: 2px dotted #2b2b2b;
    width: 100%;
    top: 0px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    padding-top: 10px;
    padding-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.portfolio-logo {
    padding: 5px 0px 5px 5px;
    max-width: 200px;
    max-height: auto;
}

/*
//////////////
NAVIGATION
//////////////
*/

.main-navigation {
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

a.navigation__item {
    display: inline-block;
    border: 2px solid #2b2b2b;
    background-color: #E6E6E6;
    color: #2b2b2b;
    cursor: pointer;
    padding: 0px 6px;
    border-radius: 4px;
    font-style: normal;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

a.navigation__item--active {
    border: 2px solid #2b2b2b;
    background-color: #2b2b2b;
    color: #E6E6E6;
    cursor: pointer;
    padding: 0px 6px;
    border-radius: 4px;
    font-style: normal;
}

a.navigation__item--active:hover {
    background-color: #cccccc;
    color: #2b2b2b;
    cursor: pointer;
    padding: 0px 13px 0px 13px;
}

a.navigation__item--active:focus {
    background-color: #cccccc;
    color: #2b2b2b;
    cursor: pointer;
    padding: 0px 13px 0px 13px;
}

a.navigation__item:hover {
    background-color: #cccccc;
    color: #2b2b2b;
    cursor: pointer;
    padding: 0px 13px 0px 13px;
}

a.navigation__item:focus {
    background-color: #cccccc;
    color: #2b2b2b;
    cursor: pointer;
    padding: 0px 13px 0px 13px;
}

/*
//////////////
INDEX PAGE
//////////////
*/

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 700px;
    margin: 100px auto 0px auto;
}

.profile__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
    text-align: center;
    margin-top: 3%;
}

.profile_portrait {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.profile__title {
    margin-bottom: -20px;
}

.description {
    padding-top: 10%;
}


.standout_text {
    font-family: monospace;
    font-size: 12px;
    color: #b7ddac;
    background-color: #2b2b2b;
}

/*
//////////////
PROJECTS PAGE
//////////////
*/

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
.project__grid {
    margin-bottom: 150px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.grid__item {
    background-color: rgba(204, 204, 204, 0.4);
    padding-bottom: 24px;
    min-height: auto;
    width: auto;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
            box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
    border-radius: 13px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
}

.grid__item:hover {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(44, 119, 0, 0.5);
            box-shadow: 0px 0px 10px 5px rgba(44, 119, 0, 0.5);
    font-style: italic;
    -webkit-transform: scale(104%);
        -ms-transform: scale(104%);
            transform: scale(104%);
    text-shadow: 2px 2px 3px rgba(44, 119, 0, 0.5);
    color: #2b2b2b;
    letter-spacing: 2px;
    font-variant-caps: all-small-caps;
}

.h2_work-page {
    font-variant-caps: all-small-caps;
    font-size: 30px;
}

h2 + p {
    margin-top: -10px;
    font-style: normal;
    text-shadow: none;
    letter-spacing: normal;
    font-variant-caps: normal;
}

.grid__item-link {
    text-shadow: none;
    font-variant-caps: normal;
}

}

/*
//////////////
PROJECT DETAILS PAGE
//////////////
*/

.project__details {
    background-color: rgba(204, 204, 204, 0.4);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
            box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
    border-radius: 13px;
    margin: 10px auto 150px auto;
    max-width: 800px;
    width: 90%;
    height: 90%;
    padding: 40px 0px 35px 0px;
    text-align: center;
}

.project__image {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(43, 43, 43, 0.5);
            box-shadow: 0px 0px 15px 2px rgba(43, 43, 43, 0.5);
    margin: 0px auto;
    width: 70%;
    height: auto;
}

.project__description {
    padding: 10px 60px;
    text-align: left;
}

/*
//////////////
ABOUT PAGE
//////////////
*/

.main-about {
    text-align: center;
    margin: 0px auto 150px auto;
    max-width: 800px;
}

.skills_table {
    margin: 20px auto;
    text-align: center;
    font-style: normal;
}

.skills_table th:first-child {
    padding: 0px 25px 2px 25px;
}

.skills_table th {
    background-color: #b7ddac;
    border-radius: 50px;
    font-family: 'Agbalumo', sans-serif;
    padding: 0px 15px 2px 15px;
}

.skills_table tr td {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.skills_table tr:hover td {
    background-color: rgba(183, 221, 172, 0.4);
    border-radius: 50px;
    font-family: 'Agbalumo', sans-serif;
    padding: 0px 7px 2px 7px;
}

.ferris-wheel {
    position: absolute;
    -webkit-animation: rotation 7s linear infinite;
            animation: rotation 7s linear infinite;
    -webkit-transform-origin: 91% 62%;
        -ms-transform-origin: 91% 62%;
            transform-origin: 91% 62%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-3px, -5px) rotate(360deg);
                transform: translate(-3px, -5px) rotate(360deg);
    }
 }

@keyframes rotation {
    from {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-3px, -5px) rotate(360deg);
                transform: translate(-3px, -5px) rotate(360deg);
    }
 }

.cloud-left {
    -webkit-animation: cloud-move 23s linear infinite alternate;
            animation: cloud-move 23s linear infinite alternate;
}

.cloud-right {
    -webkit-animation: cloud-move-reverse 28s linear infinite alternate;
            animation: cloud-move-reverse 28s linear infinite alternate;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(-200px, 15px);
                transform: translate(-200px, 15px);
    }
 }

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(-200px, 15px);
                transform: translate(-200px, 15px);
    }
 }

 @-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(300px, 15px);
                transform: translate(300px, 15px);
    }
 }

 @keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    to {
        -webkit-transform: translate(300px, 15px);
                transform: translate(300px, 15px);
    }
 }

/*
//////////////
CONTACT PAGE
//////////////
*/

.main-contact {
    margin-bottom: 150px;
}

div.contact_form {
    display: inline-block;
    width: 80%;
    max-width: 550px;
    padding: 20px;
    background-color: #b7ddac;
    border-radius: 6px;
    border: 0.5px solid #315b25;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(49, 91, 37, 0.5);
            box-shadow: 0px 0px 15px 1px rgba(49, 91, 37, 0.5);
}

form {
    text-align: left;
    line-height: 20px;
}

div.contact-button {
    text-align: center;
}

.form_input {
    background-color: rgba(230, 230, 230, 0.5);
    color: #2b2b2b;
    border-radius: 6px;
    border: 1px solid #315b25;
    width: 100%;
    padding: 5px;
    letter-spacing: 1px;
    line-height: 20px;
    font-style: italic;
    font-variant: small-caps;
}

.form_input:focus {
    background-color: #E6E6E6;
    font-style: normal;
}

#contact-message {
    max-width: 100%;
    min-width: 100%;
    min-height: 75px;
    margin-top: 5px;
}

.contact_icon {
    position: relative;
    top: 5px;
    width: 20px;
    height: auto;
}

/*
//////////////
FOOTER
//////////////
*/

.page__footer {
    background-color: #E6E6E6;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.footer__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

a.footer_icon {
    width: 100%;
    border: none;
}

.footer_right {
    margin: -45px 0px 15px -10px;
    text-align: right;
    width: 100%;
}

.footer_right a {
    background-color: #b7ddac;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-variant: all-small-caps;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
            box-shadow: 0px 0px 10px 1px rgba(49, 91, 37, 0.5);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.footer_right:hover a {
    background-color: rgba(49, 91, 37, 0.5);
    color: #E6E6E6;
}

/*
//////////////
RESPONSIVE CLASSES
//////////////
*/

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 32px;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
        margin: 10px;
    }
    .page-header {
        display: block;
    }
    .portfolio-logo {
        margin: 0px auto;
        padding: 0px;
        margin-bottom: -15px;
    }
    .navigation-list {
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        padding-bottom: 10px;
    }
    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .profile {
        margin: 50px auto 0px auto;
    }
    .profile_portrait {
        height: auto;
        width: 50%;
    }    
    .description {
        padding-top: 0%;
    }
  }